<section class="container">
    <h1><%= @cocktail.name %></h1>
    <%= cl_image_tag @cocktail.photo.key, height: 300, crop: :fill %>
    <ul>
        <% @cocktail.doses.each do |d| %>
        <li><%= d.description %> <%= d.ingredient.name %> | <%= link_to icon("fas", "times"), dose_path(d), method: :delete, data: { confirm: "Are you sure ?" } %></li>
        <% end %>
    </ul>
    <p><%= link_to "Add doses", new_cocktail_dose_path(@cocktail) %> | <%= link_to "Back to list", root_path %></p>
</section>
