<!DOCTYPE html>
<html>
<head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <section class="banner"">
      <div class="container">
        <h1>John's Mister Cocktail</h1>
        <p>- Change your life with a good cocktail -</p>
    </div>
</section>
<%= yield %>
</body>
</html>
